<div class="page-header">
  <h1><%=t '.title', :default => "Casos" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Reincidencia</th>
      <th>Denuncia</th>
      <th>Presentacion</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @system_cases.each do |system_case| %>
      <tr>
        <td><%= link_to system_case.id, system_case_path(system_case) %></td>
        <td><%= system_case.city.state.name %></td>
        <td><%= system_case.city.name %></td>
        <td><%= system_case.recidivism ? "Si" : "No" %></td>
        <td><%= system_case.complaint ? "Si" : "No" %></td>
        <td><%= system_case.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_system_case_path(system_case), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      system_case_path(system_case),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Esta seguro de querer eliminar este caso?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, SystemCase %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_system_case_path,
              :class => 'btn btn-primary' %>
<% end %>