<%- model_class = HumanDocument -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:document_type_id) %>:</strong></dt>
  <dd><%= @human_document.document_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:human_id) %>:</strong></dt>
  <dd><%= @human_document.human_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @human_document.code %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              human_documents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_human_document_path(@human_document), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              human_document_path(@human_document),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
