<%= simple_form_for @human, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.input :birthdate %>
  <%= f.input :sex %>
  <%= f.input :total_sons %>
  <%= f.input :total_daughters %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                humans_path, :class => 'btn' %>
  </div>
<% end %>
