<%- model_class = Human -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @human.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @human.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthdate) %>:</strong></dt>
  <dd><%= @human.birthdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @human.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_sons) %>:</strong></dt>
  <dd><%= @human.total_sons %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_daughters) %>:</strong></dt>
  <dd><%= @human.total_daughters %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              humans_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_human_path(@human), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              human_path(@human),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
