<div class="page-header">
  <h1><%=t '.title', :default => "Expediente: " + @human_record.human.full_name %></h1>
</div>

<h3>Datos del caso</h3>

<dl class="dl-horizontal">
  <dt><strong>Caso:</strong></dt>
  <dd>
  	<%= link_to "##{@system_case.id}", system_case_path(@system_case) %>
  </dd>
  <dt><strong>Municipio:</strong></dt>
  <dd><%= @system_case.city.name %></dd>
  <dt><strong>Tipo de zona:</strong></dt>
  <dd><%= @system_case.zone_kind.name %></dd>
  <dt><strong>Fecha de agresion:</strong></dt>
  <dd><%= @system_case.aggression_date.strftime("%d/%m/%Y") %></dd>
  <dt><strong>Reincidencia:</strong></dt>
  <dd><%= @system_case.recidivism ? "Si" : "No" %></dd>
  <dt><strong>Denuncia:</strong></dt>
  <dd><%= @system_case.complaint ? "Si" : "No" %></dd>
</dl>

<hr />

<h3>Datos de la victima</h3>

<dl class="dl-horizontal">
	<dt>
	  <strong>Nombre</strong>
	</dt>
	<dd>
	  <%= link_to @human_record.human.full_name, actual_status_human_record_path(@human_record) %>
	</dd>
	<dt>
	  <strong>Edad</strong>
	</dt>
	<dd>
	  <%= @human_record.human.age %>
	</dd>
	<dt>
	  <strong>Sexo</strong>
	</dt>
	<dd>
	  <%= @human_record.human.sex ? "Femenino" : "Masculino" %>
	</dd>
	<dt>
	  <strong>Estado</strong>
	</dt>
	<dd>
	  <%= @human_record.translate_state %>
	</dd>
	<dt>
	  <strong>Rol</strong>
	</dt>
	<dd>
	  <%= @human_record.violence_kind.name %>
	</dd>
</dl>

<hr />

<h3>Otros Involucrados</h3>

<% @human_records.each do |human_record| %>
  <dl class="dl-horizontal">
    <dt>
      <strong>Nombre</strong>
    </dt>
    <dd>
      <%= link_to human_record.human.full_name, actual_status_human_record_path(human_record) %>
    </dd>
    <dt>
      <strong>Edad</strong>
    </dt>
    <dd>
      <%= human_record.human.age %>
    </dd>
    <dt>
      <strong>Sexo</strong>
    </dt>
    <dd>
      <%= human_record.human.sex ? "Femenino" : "Masculino" %>
    </dd>
    <dt>
      <strong>Estado</strong>
    </dt>
    <dd>
      <%= human_record.translate_state %>
    </dd>
    <dt>
      <strong>Rol</strong>
    </dt>
    <dd>
      <%= human_record.violence_kind.name %>
    </dd>
  </dl>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), human_records_path, :class => 'btn'  %>
</div>
