<%= simple_form_for @system_case, :url => demand_human_record_path(@system_case), :html => { :class => 'form-horizontal' } do |f| %>
	
	<fieldset>
		<legend>Asistencia Legal</legend>

		<div>
			<strong>Datos de la victima</strong>

			<div>
				Nombre: <%= @human_record.human.full_name %><br />
				Sexo: <%= @human_record.human.sex_name %><br />
				Edad: <%= @human_record.human.age %>
			</div>
		</div>
	</fieldset>

	<hr /> 

	<h4>Involucrados</h4>

	<%= f.fields_for :human_records do |builder| %>
	  <%= render :partial => 'human_record', :locals => { f: builder } %>
	<% end %>

  	<%= link_to_add_fields "Agregar involucrado", f, :human_records %>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	            system_cases_path, :class => 'btn' %>
	</div>
<% end %>